<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0" package="com.phonarapp.client">
	<uses-sdk android:minSdkVersion="8" />

	<!-- Only this application can receive the messages and registration result -->
	<permission android:name="com.phonarapp.client.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.phonarapp.client.permission.C2D_MESSAGE" />
	<!-- This app has permission to register and receive message -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- Send the registration id to the server -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Give someone your location -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<uses-permission android:name="android.permission.READ_CONTACTS"/>

	<application android:name=".PhonarApplication" android:icon="@drawable/icon"
	       android:label="@string/app_name">
	    <uses-library android:name="com.google.android.maps" />
	    <uses-permission android:name="android.permission.INTERNET" />
	    
	    <!--
             IMPORTANT: The following activities have to be added to each project 
			which imports the DroidAR Library
        -->

        <activity
            android:name="system.ArActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>

        <!-- Custom List is used to easily display lists of any type of object -->
        <activity android:name="gui.CustomListActivity" >
        </activity>

        <!-- the error handler will be automatically displayed when an error appears -->
        <activity
            android:name="system.ErrorHandler"
            android:process=":myexeptionprocess"
            android:taskAffinity="system.ErrorHandler" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="errors/myUnhandleCatcher" />
            </intent-filter>
        </activity>

        <!-- is needed to display information on application startup -->
        <activity
            android:name="gui.InfoScreen"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <!-- an activity to easily display any kind of ui -->
        <activity
            android:name="gui.simpleUI.SimpleUI"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
	    
	    <!-- Activities -->
		<activity android:name=".Phonar" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ARTest"/>
		<activity android:name=".AugmentImage"/>
		<activity android:name=".ArActivity" />
		<activity android:name=".PhonarMapActivity" />
		<activity android:name=".RequestDialogActivity" />
		
		<!-- Services -->
		<service android:name=".MessageService" />

		<!-- Only C2DM servers can send messages for the app. If permission is 
			not set any other app can generate it -->
		<receiver android:name=".C2DMReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">

			<!-- Receive the actual message -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.phonarapp.client" />
			</intent-filter>
			<!-- Receive the registration id -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.phonarapp.client" />
			</intent-filter>
		</receiver>
	</application>
	
	<!--
         IMPORTANT: The following permissions should also be added to each project 
		which uses the DroidAR Library
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" />

    <!--
         This should be added to to allow the fullscreen mode to big screen 
		devices like the samsung galaxy tab
    -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
	
</manifest>